@import 'https://fonts.googleapis.com/css?family=Roboto';
html, body, #wrapper, .bar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.bar {
  float:left;
  width: 33.33333%;
}

.blue {
  background-color: skyblue;
}

.teal {
  background-color: teal;
}

.green {
  background-color: lightgreen;
  height: 75vh;
}

.image {
  height: 25vh;
  width: 33.33333%;
  float:bottom;
  background-color: red;
  float:right;
  display: block;
}

h3 {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 25vh;
  color: white;
}


/*.image {
  background-size: 33.333% 20vh;
  background: url("https://hd.unsplash.com/photo-1471705301355-ec78367a7b07") no-repeat center;
  height: 20vh;
  width: 33.33333%;
  position: fixed;
  bottom: 0px;
  right: 0px;
}*/
